<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neusoft.qingyi.mapper.PostsCommentCountMapper">

    <resultMap id="BaseResultMap" type="com.neusoft.qingyi.pojo.PostsCommentCount">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="pId" column="p_id" jdbcType="INTEGER"/>
        <result property="commentCount" column="comment_count" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,p_id,comment_count
    </sql>
    <update id="commentCountIncrByPid">
        update `t_posts_comment_count` as c
        set c.comment_count = c.comment_count + 1
        where c.p_id = #{pId}
    </update>
    <select id="selectPostsCommentCount" resultType="java.lang.Integer">
        select count(*)
        from `t_posts_comment_count` as c
        where c.p_id = #{pId}
    </select>
</mapper>
